  * {
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-family: 'PingFang SC','Myriad Pro','Hiragino Sans GB','Microsoft YaHei',sans-serif
        }
        .fl {
            float: left
        }

        .fr {
            float: right
        }

        .dn {
            display: none
        }
        .grayClr{
            color:#999;
        }

        /*日历 begin*/
        .data_box {
            width: 210px;
        }

        .showDate {
            width: 248px;
            height: 30px;
            line-height: 30px;
            padding: 0 5px;
            border: 1px solid #e1e1e1;
            color: #999;
            display: block;
            cursor: pointer
        }
        
        .show_mn {
            text-align: center;
            padding: 0 20px;
            font-weight: 900;
        }
        .aa{
            display: block;
            margin:0 auto;
        }
        .sel_date {
            margin-top: 5px;
            border: 1px solid #999;
            padding: 18px 5px 5px 5px;
        }

        .data_table {
            width: 100%;
            margin-top: 10px;
        }

        .data_table td {
            text-align: center;
            cursor: pointer;
            height: 24px;
            font-size: 12px;
            border-radius: 5px;
        }

        .data_table td.active {
            color: #fff;
            background-color: #999
        }

        .data_table td.hover {
            color: blue;
        }
         .data_table thead tr td{
           font-weight: 700
       } 
        .showDate2 {
            width: 35px;
            /*padding: 3px 5px;*/
            text-align: center
        }

        .showDate2.active {
            border: 1px solid #c50000;
        }

        .prev_m, .next_m {
            width: 10px;
            height: 22px;
            display: block;
            /*background-color: #0094ff;*/
            /*color: #fff;*/
            cursor: pointer;
            text-align: center;
            font: bold 12px/22px "宋体"
        }

        .prev_y, .next_y {
            width: 18px;
            height: 22px;
            display: block;
            /*background-color: #0094ff;*/
            /*color: #ccc;*/
            cursor: pointer;
            text-align: center;
            font: bold 12px/22px "宋体";
            margin: 0 5px;
        }

        /*日历 end*/